@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.gothic-a1-text {
  font-family: var(--font-gothic-a1), sans-serif;
}
@keyframes twinkle {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
}

.animate-twinkle {
  animation: twinkle 1s infinite ease-in-out;
}
@keyframes rotatemoon {
  0% {
    transform: rotate(0deg);
  
  }
  100% {
    transform: rotate(360deg);
   
  }
 
}

.animate-rotatemoon {
  animation: rotatemoon 9s infinite linear;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  
  }
  100% {
    transform: rotate(360deg);
   
  }
 
}

.animate-orbit {
  animation: orbit 20S linear infinite;
}
@keyframes reorbit {
  0% {
    transform: rotate(360deg);
  
  }
  100% {
    transform: rotate(0deg);
   
  }
 
}

.animate-reorbit {
  animation: reorbit 20S linear infinite;
}
@keyframes star {
  0% {
    top: 0%;
    left: 0%;
  }
  25%{
    top: 0%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  50% {
    top: 100%;
    left: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}


.animate-star {
  animation: 'star 1.5s ease-in-out infinite';
}
@keyframes shootingstar {
  0% {
    transform: translateX(-100px) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw) translateY(100vh);
    opacity: 0;
  }
}


.animate-shoot {
  animation: 'shootingstar 1.5s ease-in-out infinite';
}
